In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
df_census = pd.read_csv('datasets/census_data.csv')

In [3]:
df_census.describe()

                age  education_num  capital_gain  capital_loss  hours_per_week
count  32561.000000   32561.000000  32561.000000  32561.000000    32561.000000
mean      38.581647      10.080679   1077.648844     87.303830       40.437456
std       13.640433       2.572720   7385.292085    402.960219       12.347429
min       17.000000       1.000000      0.000000      0.000000        1.000000
25%       28.000000       9.000000      0.000000      0.000000       40.000000
50%       37.000000      10.000000      0.000000      0.000000       40.000000
75%       48.000000      12.000000      0.000000      0.000000       45.000000
max       90.000000      16.000000  99999.000000   4356.000000       99.000000

In [4]:
df_census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df_census['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [6]:
def label_fix(label):
    if label==' <=50K':
        return 0
    else:
        return 1

In [8]:
df_census['income_bracket'] = df_census['income_bracket'].apply(label_fix)

df_census['income_bracket'] = df_census['income_bracket'].apply(lambda x: int(x==" <=50K"))

In [9]:
df_census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_data = df_census.drop(['income_bracket'], axis=1)

In [12]:
y_val = df_census['income_bracket']

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_val, test_size=0.3, random_state=101)

In [14]:
df_census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [15]:
gender = tf.feature_column.categorical_column_with_vocabulary_list('gender', ['Female', 'Male'])
occupation = tf.feature_column.categorical_column_with_hash_bucket('occupation', hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket('workclass', hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket('education', hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket('marital_status', hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket('relationship', hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket('native_country', hash_bucket_size=1000)

In [16]:
age = tf.feature_column.numeric_column('age')
education_num = tf.feature_column.numeric_column('education_num')
capital_gain = tf.feature_column.numeric_column('capital_gain')
capital_loss = tf.feature_column.numeric_column('capital_loss')
hours_per_week = tf.feature_column.numeric_column('hours_per_week')

In [17]:
feat_cols = [age, workclass, education, education_num, marital_status, occupation, relationship, gender, 
             capital_gain, capital_loss, hours_per_week, native_country]

In [18]:
input_function = tf.estimator.inputs.pandas_input_fn(x=x_train, y=y_train,batch_size=10,num_epochs=1000,shuffle=True)

In [19]:
estimator = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpugfopyfe
INFO:tensorflow:Using config: {'_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7fb34c01fa20>, '_save_checkpoints_secs': 600, '_save_checkpoints_steps': None, '_save_summary_steps': 100, '_tf_random_seed': None, '_session_config': None, '_num_worker_replicas': 1, '_keep_checkpoint_every_n_hours': 10000, '_service': None, '_task_id': 0, '_master': '', '_log_step_count_steps': 100, '_model_dir': '/tmp/tmpugfopyfe', '_evaluation_master': '', '_train_distribute': None, '_global_id_in_cluster': 0, '_keep_checkpoint_max': 5, '_num_ps_replicas': 0, '_is_chief': True, '_task_type': 'worker'}

In [20]:
estimator.train(input_fn=input_function,steps=5000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmpugfopyfe/model.ckpt.
INFO:tensorflow:loss = 6.93147, step = 1
INFO:tensorflow:global_step/sec: 212.753
INFO:tensorflow:loss = 2.21264, step = 101 (0.472 sec)
INFO:tensorflow:global_step/sec: 372.033
INFO:tensorflow:loss = 45.586, step = 201 (0.269 sec)
INFO:tensorflow:global_step/sec: 360.15
INFO:tensorflow:loss = 45.3344, step = 301 (0.278 sec)
INFO:tensorflow:global_step/sec: 361.407
INFO:tensorflow:loss = 2.94194, step = 401 (0.277 sec)
INFO:tensorflow:global_step/sec: 351.008
INFO:tensorflow:loss = 0.648878, step = 501 (0.285 sec)
INFO:tensorflow:global_step/sec: 354.558
INFO:tensorflow:loss = 4.0703, step = 601 (0.281 sec)
INFO:tensorflow:global_step/sec: 368.076
INFO:tensorflow:loss = 2.82168, step = 701 (0.270 sec)
INFO:tensorflow:global_step/sec: 361.298
INFO:tensorflow:loss = 1.67192, step = 801 (0.279 sec)
INFO:tensorflow:global_step/sec: 384.291
INFO:tensorflow:loss = 24.1945, step = 901 (0.262 sec)
INFO:tensorflow:global_step/sec: 368.732
INFO:tensorflow:loss = 11.6867, step = 1001 (0.268 sec)
INFO:tensorflow:global_step/sec: 365.87
INFO:tensorflow:loss = 3.69194, step = 1101 (0.278 sec)
INFO:tensorflow:global_step/sec: 364.885
INFO:tensorflow:loss = 1.13425, step = 1201 (0.272 sec)
INFO:tensorflow:global_step/sec: 376.517
INFO:tensorflow:loss = 6.82176, step = 1301 (0.266 sec)
INFO:tensorflow:global_step/sec: 366.702
INFO:tensorflow:loss = 134.765, step = 1401 (0.273 sec)
INFO:tensorflow:global_step/sec: 356.322
INFO:tensorflow:loss = 2.3078, step = 1501 (0.280 sec)
INFO:tensorflow:global_step/sec: 324.579
INFO:tensorflow:loss = 2.46257, step = 1601 (0.306 sec)
INFO:tensorflow:global_step/sec: 345.513
INFO:tensorflow:loss = 0.902245, step = 1701 (0.293 sec)
INFO:tensorflow:global_step/sec: 381.118
INFO:tensorflow:loss = 225.245, step = 1801 (0.262 sec)
INFO:tensorflow:global_step/sec: 357.356
INFO:tensorflow:loss = 1.92401, step = 1901 (0.278 sec)
INFO:tensorflow:global_step/sec: 385.353
INFO:tensorflow:loss = 233.459, step = 2001 (0.261 sec)
INFO:tensorflow:global_step/sec: 346.458
INFO:tensorflow:loss = 3.11944, step = 2101 (0.288 sec)
INFO:tensorflow:global_step/sec: 339.889
INFO:tensorflow:loss = 0.716981, step = 2201 (0.294 sec)
INFO:tensorflow:global_step/sec: 359.928
INFO:tensorflow:loss = 217.187, step = 2301 (0.278 sec)
INFO:tensorflow:global_step/sec: 367.812
INFO:tensorflow:loss = 3.43829, step = 2401 (0.272 sec)
INFO:tensorflow:global_step/sec: 371.392
INFO:tensorflow:loss = 23.5751, step = 2501 (0.269 sec)
INFO:tensorflow:global_step/sec: 373.681
INFO:tensorflow:loss = 17.4587, step = 2601 (0.269 sec)
INFO:tensorflow:global_step/sec: 353.126
INFO:tensorflow:loss = 1.26366, step = 2701 (0.282 sec)
INFO:tensorflow:global_step/sec: 363.734
INFO:tensorflow:loss = 6.67938, step = 2801 (0.273 sec)
INFO:tensorflow:global_step/sec: 371.953
INFO:tensorflow:loss = 5.91022, step = 2901 (0.270 sec)
INFO:tensorflow:global_step/sec: 377.099
INFO:tensorflow:loss = 3.27742, step = 3001 (0.265 sec)
INFO:tensorflow:global_step/sec: 363.144
INFO:tensorflow:loss = 0.219003, step = 3101 (0.276 sec)
INFO:tensorflow:global_step/sec: 361.982
INFO:tensorflow:loss = 10.1774, step = 3201 (0.277 sec)
INFO:tensorflow:global_step/sec: 368.947
INFO:tensorflow:loss = 6.4809, step = 3301 (0.269 sec)
INFO:tensorflow:global_step/sec: 376.849
INFO:tensorflow:loss = 1.47565, step = 3401 (0.266 sec)
INFO:tensorflow:global_step/sec: 351.441
INFO:tensorflow:loss = 1.12282, step = 3501 (0.289 sec)
INFO:tensorflow:global_step/sec: 372.38
INFO:tensorflow:loss = 138.303, step = 3601 (0.266 sec)
INFO:tensorflow:global_step/sec: 370.388
INFO:tensorflow:loss = 7.36048, step = 3701 (0.269 sec)
INFO:tensorflow:global_step/sec: 358.37
INFO:tensorflow:loss = 9.34951, step = 3801 (0.281 sec)
INFO:tensorflow:global_step/sec: 316
INFO:tensorflow:loss = 1.1186, step = 3901 (0.315 sec)
INFO:tensorflow:global_step/sec: 369.176
INFO:tensorflow:loss = 3.11389, step = 4001 (0.271 sec)
INFO:tensorflow:global_step/sec: 361.52
INFO:tensorflow:loss = 6.34719, step = 4101 (0.277 sec)
INFO:tensorflow:global_step/sec: 358.91
INFO:tensorflow:loss = 0.746587, step = 4201 (0.278 sec)
INFO:tensorflow:global_step/sec: 370.019
INFO:tensorflow:loss = 21.7414, step = 4301 (0.268 sec)
INFO:tensorflow:global_step/sec: 348.477
INFO:tensorflow:loss = 2.93253, step = 4401 (0.289 sec)
INFO:tensorflow:global_step/sec: 353.155
INFO:tensorflow:loss = 1.60097, step = 4501 (0.281 sec)
INFO:tensorflow:global_step/sec: 363.741
INFO:tensorflow:loss = 2.61792, step = 4601 (0.277 sec)
INFO:tensorflow:global_step/sec: 361.613
INFO:tensorflow:loss = 27.4971, step = 4701 (0.278 sec)
INFO:tensorflow:global_step/sec: 353.084
INFO:tensorflow:loss = 1.14298, step = 4801 (0.280 sec)
INFO:tensorflow:global_step/sec: 358.647
INFO:tensorflow:loss = 7.56938, step = 4901 (0.280 sec)
INFO:tensorflow:Saving checkpoints for 5000 into /tmp/tmpugfopyfe/model.ckpt.
INFO:tensorflow:Loss for final step: 2.04565.

In [21]:
pred_input_func = tf.estimator.inputs.pandas_input_fn(x=x_test, batch_size=len(x_test),shuffle=False)

In [22]:
pred_res = estimator.predict(input_fn=pred_input_func)

In [23]:
predictions = list(pred_res)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmpugfopyfe/model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [24]:
int(predictions[0]['class_ids'])

0

In [25]:
pred_classes = list(map(lambda x: int(x['class_ids']), predictions))

In [26]:
pred_classes[:10]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

pred_classes = []
for i in predictions:
    pred_classes.append(int(i['class_ids']))

pred_classes[:10]

In [27]:
from sklearn.metrics import classification_report

In [28]:
print(classification_report(y_test, pred_classes))

             precision    recall  f1-score   support

          0       0.81      0.95      0.88      7436
          1       0.66      0.31      0.42      2333

avg / total       0.78      0.80      0.77      9769

In [30]:
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt

In [31]:
print(confusion_matrix(y_test, pred_classes))

[[7065  371]
 [1609  724]]